<h2> Page Heading </h2>
<form action="/celebrities/create" method="POST">
  <label for="name">Name</label>
  <input id="name" type="name" name="name" />
 
  <label for="occupation">Occupation</label>
  <input id="occupation" type="occupation" name="occupation" />
 
  <label for="catchPhrase">Catch Phrase</label>
  <input id="catchPhrase" type="catchPhrase" name="catchPhrase" />
 
  <button type="submit">Submit</button>
</form>